* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #01192E;
    --blue: #5271ff;
    --grey: #262627;
    --white: #ffffff;
    --font-primery: -ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 150px;
    background-color: #262627;
    font-family: var(--font-primery);

}

.logo {
    width: 300px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 30px;
    color: var(--white);
}

.container {
    width: 100%;
    height: 800px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-primery);
    margin-bottom: 170px;
}

.me {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.main-title {
    font-weight: 100;
    font-size: 70px;
    color: var(--blue);
    text-transform: uppercase;
}

.sub-title {
    color: #01192E;
    font-weight: 700;
    text-transform: uppercase;
}


.container1 {
    width: 100%;
    height: 500px;
    background-color: var(--grey);
    font-family: var(--font-primery);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.box-title {
    color: var(--blue);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 100;

}

.line {
    width: 500px;
    height: 1px;
    margin: 0px auto 30px auto;
}

.container1 .line {
    background-color: var(--white);
}

.container1 p {
    color: var(--white);
    text-align: justify;
    width: 800px;
}

.container2 {
    font-family: var(--font-primery);
    width: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.container2 .box-title {
    color: var(--blue);
    text-align: center;
}

.container2 .line {
    background-color: var(--grey);
}

.job {
    width: 800px;
}

.job-logo {
    float: left;
    width: 200px;
    margin-right: 40px;
    margin-left: 15px;
}

.who, .what, .when {
    font-family: var(--font-primery);
    text-transform: uppercase;
    color: var(--dark-blue);
}

.who {
    font-size: 25px;
    margin-top: 50px;
}

.what {
    font-size: 20px;

}

.when {
    font-style: italic;

}

.city {
    font-style: italic;
    text-transform: none;
    font-weight: 200;
}

.todo {
    list-style: none;
    text-align: justify;
  }

  .todo li::before {
    content: "";
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/fb-heart.gif);
    background-size: contain;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.1rem;
    margin-right: 0.2rem;
  }
  
