@use "sass:map";

.container2 {
    width: 100vw;
    margin-top: 2rem;
    background-color: map.get($colors, color4);
    font-family: map.get($fonts, primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container-title {
        color: map.get($colors, color2);
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 100;
        margin-bottom: 1rem;
    }
}


.box {
  margin-top: 2rem;
    width: 90%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 2rem;
    border-radius: 15px;

    background: map.get($colors, color3);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), 
                -5px -5px 15px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3), 
                    -10px -10px 20px rgba(255, 255, 255, 0.6);
    }

    h3 {
        font-size: 1.8rem;
        color: map.get($colors, color2);
    }

    p {
        font-size: 1rem;
        color: map.get($colors, color5);
        line-height: 1.6;
    }

    ul {

        list-style-type: "> ";
        padding-left: 20px;

        li {
            font-size: 1rem;
            line-height: 1.8;
            color: map.get($colors, color4);
        }
    }
}






// Responsive for mobile
@include respond-to(mobile) {
    .container2 {
        padding: 3rem;
    }

    .box {
        width: 90%;
        padding: 1.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p,
    li {
        font-size: 0.9rem;
    }
}
  
