@use "sass:map";

.container3 {
    padding: 5rem;
    width: 100wh;
    background-color: map.get($colors, color3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .line {
        background-color: map.get($colors, color4);
    }

  form {
    background-color: map.get($colors, color3);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 40rem;
    width: 100%;
  
    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
      color: map.get($colors, color2);
    }
  
    input[type="text"], input[type="email"], textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 16px;
    }
  
    textarea {
      height: 100px;
    }
  
    input[type="submit"] {
    background-color: map.get($colors, color2);
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      width: 100%;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
}