// elements/_navbar.scss
@use "sass:map";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 8rem;
  background-color: map.get($colors, color3);
  font-family: map.get($fonts, primary);
}

.menu {
  display: flex;
  text-transform: uppercase;
  a {
    margin-left: 2rem; 
    color: map.get($colors, color4);
  }

  li {
    list-style: none;
  }
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  span {
    width: 2rem;
    height: 0.2rem;
    background-color: map.get($colors, color4);
    margin: 0.3rem;
    transition: 0.3s;
  }
}

.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 8rem;
    right: 0;
    background-color: map.get($colors, color3);
    width: 12.5rem;
    padding: 1.25rem;
    gap: 0.6rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%); /* Скрываем меню за экраном */
  }

  /* Когда чекбокс отмечен (клик по бургеру) — показываем меню */
  .menu-toggle:checked + .burger-menu + .menu {
    display: flex;
    transform: translateX(0); /* Высовываем меню */
  }
}
