// elements/_section.scss
@use "sass:map";

.container1 {
    width: 100vw;
    height: 30vh;
    padding: 3rem;
    background-color: map.get($colors, color3);
    font-family: map.get($fonts, primary);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    p {
        color: map.get($colors, color4);
        text-align: justify;
        width: 100%;
        max-width: 50rem; 
      }

    .line {
        background-color: map.get($colors, color4);
    }
  }
  
  .container-title {
    color: map.get($colors, color2);
    font-size: 2.5rem; // Replacing 40px
    text-transform: uppercase;
    font-weight: 100;
  }

  
  @include respond-to(mobile) {
    .box-title {
      font-size: 1.5rem;
    }
    .container1 p {
      width: 100%;
    }
  }
  